html {
    height: 100%;
}

body {
    margin: 0;
    width: auto;
    background-color: #fac486;
    height: 100%;
  }

#root {
    height: 100%;
}

/* ------- ШАПКА ---------- */

.header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: #1d3c45;
}

.logopage>img {
    width: 100px;
}

.infName {
    margin: 10px 50px 10px 0px;
    color: white;
    font-size: 20px;
    font-style: oblique;
}

/* -------- ОСНОВНОЕ СОДЕРЖАНИЕ ------------*/

.main {
    display: flex;
    height: 90%;
}

.leftmenu {
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: #d2601a;
}

.pages {
    display: flex;
    flex-direction: column;
}

 /* Кнопки в меню */

.leftmenu .button:first-child {
    margin-top: 50px;
}

.leftmenu .button:hover {
    background-color: rgb(255, 255, 0);
}

.leftmenu .button {
  margin: 10px;
  padding: 20px;
  height: 30px;
  width: 30px;
  font-size: 20px;
  background-color: #ffffff;
  border: 3px solid #1d3c45;
  border-radius: 50%;
}
